<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursery Baby</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>

<body>
    <header>
        <section>
            <div class="img-cabecalho">
                <img src="img/CryptoKitties.png" alt="">
                <h1>Meowtants</h1>
            </div>
        </section>
        <section>
            <div class="menu">
                <nav class="menu-links">
                    <ul>
                        <li class="menu-item">Sign in</li>
                        <li class="menu-item">Join</li>
                        <li class="menu-item">Baby Nursery</li>
                        <li class="menu-item">Hatch a Meowtant</li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>


    <main>
        <div class="nursery-cards">
            <div class="nursery-card">
                <div class="nursery-card-content">
                    <img src="img/01.png" alt="Baby's picture">
                </div>

                <div class="nursery-card-content">
                    <h3>Name: </h3>
                </div>

                <div class="nursery-card-content">
                    <h3>Birth: </h3>
                </div>

                <div class="nursery-card-content">
                    <h3>Genes: </h3>
                </div>
                 <div class="nursery-card-content">
                    <input type="submit" name="submit" value="Change Registers">
                    <a href="">Delete</a>
                 </div>
            </div>
        </div>
    </main>


    <footer>

    </footer>
</body>
</html>