<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hatch a Meowtant</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <section>
            <div class="img-cabecalho">
                <img src="img/CryptoKitties.png" alt="">
                <h1>Meowtants</h1>
            </div>
        </section>
        <section class="title">
            <h1>Hatch a Meowtant</h1>
        </section>
        <section>
            <%-include('menu'); %>
            </div>
        </section>
    </header>

    <main>
        <div class="login-join-form">
            <img id="img-login" src="img/16.png" alt="">
            <form action="/hatch" method="POST" enctype="multipart/form-data">
                <div class="card-content-area">
                    <label for="name">Name</label>
                    <input type="text" name="cat-name" id="cat-name" >
                </div>

                <div class="card-content-area">
                    <label for="date">Birth</label>
                    <input type="date" name="birth" id="birth">
                </div>

                <div class="card-content-area">
                    <label for="genes">Genes</label>
                    <input type="text" name="genes" id="genes">
                </div>

                <div class="card-content-area">
                    <label for="pic">Picture</label>
                    <input type="file" name="pic" id="pic">
                </div>

                <div class="card-content-area">
                    <input type="submit" class="submit-button" name="criar" id="criar" value="Hatch">
                </div>
            </form>
        </div>
    </main>


    <footer>

    </footer>
</body>
</html>