<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hatch a Meowtant</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <header>
        <section>
            <div class="img-cabecalho">
                <img src="img/CryptoKitties.png" alt="">
                <h1>Meowtants</h1>
            </div>
        </section>
        <section>
            <div class="menu">
                <nav class="menu-links">
                    <ul>
                        <li class="menu-item">Sign in</li>
                        <li class="menu-item">Join</li>
                        <li class="menu-item">Baby Nursery</li>
                        <li class="menu-item">Hatch a Meowtant</li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>


    <main>
        <div class="login-join-form">
            <img id="img-login" src="img/16.png" alt="">
            <form action="" enctype="multipart/form-data">
                <div class="card-content-area">
                    <h2>Hatch a Meowtant</h2>
                </div>

                <div class="card-content-area">
                    <label for="name">Name</label>
                    <input type="text" name="cat-name" id="cat-name" >
                </div>

                <div class="card-content-area">
                    <label for="password">Birth</label>
                    <input type="text" name="senha" id="password">
                </div>

                <div class="card-content-area">
                    <label for="genes">Genes</label>
                    <input type="text" name="genes" id="genes">
                </div>

                <div class="card-content-area">
                    <label for="pdf">Picture</label>
                    <input type="file" name="pic" id="pic">
                </div>

                <div class="card-content-area">
                    <input type="submit" class="submit-button" name="criar" id="criar" value="Hatch">
                </div>
            </form>
        </div>
    </main>


    <footer>

    </footer>
</body>
</html>