<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <header>
        <section>
            <div class="img-cabecalho">
                <img src="../img/CryptoKitties.png" alt="">
                <h1>Meowtants</h1>
            </div>
        </section>
        <section>
            <div class="menu">
                <nav class="menu-links">
                    <ul>
                        <li class="menu-item">Sign in</li>
                        <li class="menu-item">Join</li>
                        <li class="menu-item">Baby Nursery</li>
                        <li class="menu-item">Hatch a Meowtant</li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>


    <main>
        <div class="login-join-form">
            <img id="img-login" src="img/250.shadow.png" alt="">
            <form action="">
                <div class="card-content-area">
                    <h2>Join</h2>
                </div>

                <div class="card-content-area">
                    <label for="usuario">E-mail</label>
                    <input type="text" name="usuario" id="usuario" >
                </div>

                <div class="card-content-area">
                    <label for="password">Password</label>
                    <input type="password" name="senha" id="password">
                </div>

                <div class="card-content-area">
                    <label for="password">Confirm Password</label>
                    <input type="password" name="confirmar" id="confirmar">
                </div>

                <div class="card-content-area">
                    <input type="submit" class="submit-button" name="cadastrar" id="cadastrar" value="Sign up">
                </div>
            </form>
        </div>
    </main>


    <footer>

    </footer>
</body>
</html>